*{
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 1005;
  height: 80px;
}

.intro h1 {
  font-size: 100px;
}

.about h1 {
  position: absolute;
  bottom: 1rem;
  font-size: 30px;
  left: 790px;
}

.about a{
  position: absolute;
  top: 335px;
  bottom: 100px;
  font-size: 25px;
  left: 810px;
}

.about p{
  position: absolute;
  top: 400px;
  bottom: 100px;
  font-size: 25px;
  left: 200px;
  right: 200px;
}

.about img {
  position: absolute;
  left: 750px;
  top: 80px;
}

.baseball {
  position: absolute;
  top: 700px;
  bottom: 100px;
  right: 100px;
  left: 1100px;
}

.tv {
  position: absolute;
  top: 700px;
  bottom: 100px;
  right: 100px;
  left: 300px;
}

.twotruths {
  position: absolute;
  top: 700px;
  bottom: 100px;
  right: 100px;
  left: 750px;
}

.intro{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.welcome{
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
}

.hello{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.hello.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.hello.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}